<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>

    <style type="text/css" media="screen">
    </style>
</head>

<body>
    <div class="content">
        <div class="row">
            <%=message%>
        </div>
        <div class="row">

            <%=error.status%>
        </div>
        <div class="row">
            <%=error.stack%>
        </div>
    </div>

</body>

</html>